body {
    min-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav .parent-menu > li {
    width: 200px;
    height: 30px;
    float: left;
    margin: 0px 5px;
    position: relative;
    z-index: 10;
}

nav a {
    display: block;
    width: 200px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 4px;
    line-height: 25px;
    background-color: #123;
    color: #EEE;
}

nav .sub-menu {
    position: relative;
    left: 0px;
    top: -34px;
    z-index: -1;
}

nav .sub-menu > li {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: top 400ms ease-in-out;
}

nav li:hover .sub-menu li:nth-child(1) { left: 0px; top: 35px; }
nav li:hover .sub-menu li:nth-child(2) { left: 0px; top: 70px; }
nav li:hover .sub-menu li:nth-child(3) { left: 0px; top: 105px; }
nav li:hover .sub-menu li:nth-child(4) { left: 0px; top: 140px; }
nav li:hover .sub-menu li:nth-child(5) { left: 0px; top: 175px; }
